.box{
    width: 500px;
    height: 300px;
    margin: auto;
    border: 1px solid brown;
    position: relative;
}
.relative, .absolute, .fixed, .sticky{
    width: 150px;
    height: 100px;
}
.relative{
    background-color: antiquewhite;
    position: relative;
    top: 15px;
    right: 15px;
}
.absolute{
    background-color: rgb(218, 156, 75);
    position: absolute;
    right: 15%;
    bottom: 15%;
}
.fixed{
    background-color: rgb(106, 71, 25);
    width: 200px;
    position: fixed;
    top: 12px;
    right: 12px;
}
.sticky{
    background-color: rgb(63, 41, 13);
    position: sticky;
    top: 20px;
}